<div class="header">
  <div class="title">
    <h1>Zahra Kheiri</h1>
  </div>
  <div class="menu">
    <ul>
      <li><a [routerLink]="['Home']">Home</a></li>
      <li><a [routerLink]="['About']">About</a></li>
      <li><a [routerLink]="['Skills']">Skills</a></li>
      <li><a [routerLink]="['Home']">Work Experiences</a></li>
      <li><a [routerLink]="['Contact']">Contact</a></li>
    </ul>
  </div>
  <!-- <p-menubar [model]="items">
    <ng-template pTemplate="end"> </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <span
          *ngIf="item.shortcut"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
          >{{ item.shortcut }}</span
        >
        <i
          *ngIf="item.items"
          [ngClass]="[
            'pi',
            root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
          ]"
        ></i>
      </a>
    </ng-template>
    <ng-template pTemplate="start">
      <div class="flex align-items-center gap-2 pl-1">
        <p>Zahra Kheiri</p>
      </div>
    </ng-template>
  </p-menubar> -->
</div>
