<div class="container">
    <div class="w-full content">
        <div class="w-6">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="../assets/stock2.png" alt="">
            </div>
        </div>
        <div class="w-6 pt-8 pl-6 title">
            <h1 class="pb-1">Work Experiences</h1>
            <span></span>
            <ul>
                <li class="mb-5">
                    <a href="https://rahkarhamipardaz.com/"  target="_blank"><h4>1: Rahkar Hami Pardaz</h4></a>
                    <p>
                        Rahkar Hami Pardaz is a company providing software solutions for banking, stock market, and insurance sectors. Established in 2017, the company specializes in delivering innovative and reliable technology services to its clients.</p>
                </li>
                <li class="mb-5">
                    <a href="https://sabzafzar.com/"  target="_blank"><h4>2: Arya Green Ware</h4></a>
                    <p>
                        Sabz Afzar Arya is a company specializing in the design and implementation of software and information management technologies across various sectors. With 23 years of experience, the company is dedicated to providing advanced and effective solutions to meet diverse industry needs.</p>
                </li>
                <li class="mb-5">
                    <a href="https://sepidz.com/"  target="_blank"><h4>3: Sepidz</h4></a>
                    <p>Sepidz started its operations in 1999 with the aim of providing comprehensive and innovative software management solutions for restaurants. The company focuses on delivering advanced technologies to enhance the efficiency and effectiveness of restaurant operations.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
