<div class="container">
    <div class="photos">
        <div class="w-4">
            <img src="../assets/university2.JPG" alt="">
        </div>
        <div class="w-4">
            <img src="../assets/company.jpg" alt="">
        </div>
        <div class="w-4">
            <img src="../assets/azaditower.jpg" alt="">
        </div>
    </div>
    <div class="description">
        <div class="w-4">
            <h1>About Me</h1>
            <span></span>
        </div>
        <div class="w-4">
           <h4>My Job</h4>
           <p>As a full stack developer with three years of work experience, I possess a comprehensive skill set that spans both front-end and back-end development.My expertise includes working with various programming languages, frameworks, and tools to build and maintain web applications.</p>
        </div>
        <div class="w-4">
            <h4>My University</h4>
            <p>I earned your Bachelor's degree in Computer Engineering from qom university in 2016.Qom University, located in the city of Qom, Iran, is a notable institution for higher education.</p>
        </div>
    </div>
</div>