<div class="container">
    <div class="photos">
        <div class="w-4">
            <img src="../assets/university2.JPG" alt="">
        </div>
        <div class="w-4">
            <img src="../assets/company.jpg" alt="">
        </div>
        <div class="w-4">
            <img src="../assets/azaditower.jpg" alt="">
        </div>
    </div>
    <div class="description">
        <div class="w-4">
            <h1>
                About Me

            </h1>
            <span></span>
        </div>
        <div class="w-4">
           <h5>My Job</h5>
           <p></p>
        </div>
        <div class="w-4">
            <h5>My University</h5>
            <p></p>
        </div>
    </div>
</div>