<div class="container">
    <div class="photos">
        <div class="w-4">
            <img src="../assets/university2.JPG" alt="">
        </div>
        <div class="w-4">
            <img src="../assets/company.jpg" alt="">
        </div>
        <div class="w-4">
            <img src="../assets/azaditower.jpg" alt="">
        </div>
    </div>
    <div class="description">
        <div class="w-4">
            <h1>Contact</h1>
        </div>
        <div class="w-4">
           <h3>My Job</h3>
           <p></p>
        </div>
        <div class="w-4">
            <h3>My University</h3>
            <p></p>
        </div>
    </div>
</div>