.page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    align-content:center;
    padding-left: 3rem;
}
.content{
    height: 80%;
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.description div{
    display: flex;
    margin-bottom: 3rem;
}
.description div h3{
    margin-left: 1rem;
}
.information{
   display: flex; 
   padding-top: 4rem;
}
p-floatlabel{
    display: flex;
    margin-bottom: 2rem;
}
:host ::ng-deep p-floatlabel span{
    width: 100%;
}
input{
    width: 100%;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    font-size: 0.9rem;
    padding-left: 0.6rem;
}
textarea{
    color: #ffffff;
    background: #09090b;
    padding: 0.5rem 0.75rem;
    border: 1px solid #3f3f46;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    appearance: none;
    border-radius: 6px;
}
form{
    display: flex;
}
:host ::ng-deep p-button button {
    padding: 0.5rem;
    cursor: pointer !important;
}
