<div class="page-title">
    <h1>Contact</h1>
    <p-button label="Submit" class="mr-4" *ngIf="contactForm.valid && contactForm.dirty && contactForm.touched"  severity="secondary" (onClick)="submitForm()" />
</div>
<div class="content">
    <div class="map w-full">
        <iframe id="inlineFrameExample"  height="200" width="300" class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207344.0754367783!2d51.18284757799681!3d35.707740216702526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2sTehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1716819585511!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="w-full information">
        <div class="description w-4">
            <div>
                <i class="pi pi-telegram"></i>
                <h3>zariisworld</h3>
            </div>
            <div>
                <i class="pi pi-home"></i>
                <h3>Tehran</h3>
            </div>
            <div>
                <i class="pi pi-envelope"></i>
                <h3>zahrakheiri.eng@gmail.com</h3>
            </div>
        </div>
        <div class="form w-8">
            <form [formGroup]="contactForm">
                <div class="w-6">
                    <p-floatLabel>
                        <input pInputText id="fullname" formControlName="fullname" placeholder="FullName"/>
                    </p-floatLabel>
                    <p-floatLabel>
                        <input pInputText id="email" formControlName="email" placeholder="Email"/>
                    </p-floatLabel>
                    <p-floatLabel>
                        <input pInputText id="subject" formControlName="subject" placeholder="Subject"/>
                    </p-floatLabel>
                </div>
                <div class="w-6 text-right">
                    <p-floatLabel style="height: 100%;">
                        <textarea  class="w-9"
                            id="float-input" 
                            rows="8" cols="30" 
                            pInputTextarea formControlName="message" placeholder="message">
                        </textarea>
                    </p-floatLabel>
                </div>
            </form>
        </div>
    </div>
</div>
