<div class="page-title">
    <h1>Contact</h1>
</div>
<div class="content">
    <div class="map w-full">
        <iframe class="w-full"
        id="inlineFrameExample"
        title="Inline Frame Example"
        width="300"
        height="200"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
      </iframe>
    </div>
    <div>
        <div class="w-4">
            <h3></h3>
        </div>
        <div class="w-4">

        </div>
        <div class="w-4">

        </div>
    </div>
</div>
