<div >

</div>
<div class="photos w-full">
    <div class="w-2">
        <img src="../assets/typescript.jpg" alt="">
    </div>
    <div class="w-2">
        <img src="../assets/typescript.jpg" alt="">
    </div>
    <div class="w-2">
        <img src="../assets/typescript.jpg" alt="">
    </div>
    <div class="w-2">
        <img src="../assets/typescript.jpg" alt="">
    </div>
    <div class="w-2">
        <img src="../assets/typescript.jpg" alt="">
    </div>
    <div class="w-2">
        <img src="../assets/typescript.jpg" alt="">
    </div>
</div>
<div class="skills-description w-full">
    <div class="w-5">
        <div class="mb-3">
            JavaScript<p-progressBar [value]="javaScriptValue" />
        </div>
        <div class="mb-3">
            TypeScript<p-progressBar [value]="typeScriptValue" />
        </div>
        <div class="mb-3">
            Angular<p-progressBar [value]="angularValue" />
        </div>
    </div>
    <div class="w-5">
        <div class="mb-3">
            C#<p-progressBar [value]="cSharpValue" />
        </div>
        <div class="mb-3">
            .NetCore<p-progressBar [value]="dotNetValue" />
        </div>
        <div class="mb-3">
            Sql<p-progressBar [value]="sqlValue" />
        </div>
    </div>
</div>
