.portfolio-image {
    width: 40%;
    height: 100%;
}

.portfolio-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introduction {
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.introduction .detail {
    max-width: 450px;
}
.introduction .detail h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.introduction .detail h1 span {
    position: relative;
}

.introduction .detail h1 span::before {
    content: "";
    border: 1px solid #9b9b9b;
    position: absolute;
    left: 120%;
    top: 50%;
    width: 700px;
}
.detail-btn {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
@media (max-width : 875px)
{ 
    .container{
        position: relative;
    }
    .introduction{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 3rem;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(85, 84, 84, 0.589) 100%);
    }
    .portfolio-image {
        width: 100%;
    }
    .portfolio-image img{
        object-fit: cover;
    }
    .introduction .detail h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}
.detail-btn a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 1rem 1rem;
}
.youtube-btn{
    position: relative;
}
.youtube-btn::before{
    content: "\ea14";
    font-family: primeicons;
    position: absolute;
    left: -23px;
    top: 11px;
    font-size: 2rem;
    width: 700px;
}
