<div class="container">
  <div class="portfolio-image">
    <img src="../assets/3-2.jpg" alt="" />
  </div>
  <div class="introduction">
    <div class="detail">
      <h1>
        <span>My</span>
        <br />
        Portfolio
      </h1>
      <p>
        Hello! I’m Zahra Kheiri, a passionate and dedicated web developer with 3
        years of experience in the dynamic world of programming.
      </p>

      <div class="detail-btn">
        <a href="">Explore Now</a>
        <a href="">Youtube</a>
      </div>
    </div>
  </div>
</div>
